# DAT210x - Programming with Python for DS

## Module2 - Lab5

Import and alias Pandas:

In [9]:
import pandas as pd

As per usual, load up the specified dataset, setting appropriate header labels.

In [10]:
cnames = ['education', 'age', 'capital-gain', 'race', 'capital-loss', 'hours-per-week', 'sex', 'classification']
df = pd.read_csv("Datasets/census.data", header=None, names=cnames, na_values=("?"))
#df = df.replace("?", "")

# convert to numeric
df = df.apply(pd.to_numeric, errors='ignore')

#print(list(df))

print(df.head())
#print(df.tail())

df.dtypes

   education  age  capital-gain   race  capital-loss  hours-per-week     sex  \
0  Bachelors   39        2174.0  White             0              40    Male
1  Bachelors   50           NaN  White             0              13    Male
2    HS-grad   38           NaN  White             0              40    Male
3       11th   53           NaN  Black             0              40    Male
4  Bachelors   28           0.0  Black             0              40  Female

  classification
0          <=50K
1          <=50K
2          <=50K
3          <=50K
4          <=50K

education          object
age                 int64
capital-gain      float64
race               object
capital-loss        int64
hours-per-week      int64
sex                object
classification     object
dtype: object

Excellent.

Now, use basic pandas commands to look through the dataset. Get a feel for it before proceeding!

Do the data-types of each column reflect the values you see when you look through the data using a text editor / spread sheet program? If you see `object` where you expect to see `int32` or `float64`, that is a good indicator that there might be a string or missing value or erroneous value in the column.

In [11]:
# .. your code here ..

Try use `your_data_frame['your_column'].unique()` or equally, `your_data_frame.your_column.unique()` to see the unique values of each column and identify the rogue values.

If you find any value that should be properly encoded to NaNs, you can convert them either using the `na_values` parameter when loading the dataframe. Or alternatively, use one of the other methods discussed in the reading.

In [12]:
# .. your code here ..

Look through your data and identify any potential categorical features. Ensure you properly encode any ordinal and nominal types using the methods discussed in the chapter.

Be careful! Some features can be represented as either categorical or continuous (numerical). If you ever get confused, think to yourself what makes more sense generally---to represent such features with a continuous numeric type... or a series of categories?

In [13]:
df.education.unique()
oed = ['Preschool', '1st-4th', '5th-6th', '7th-8th', '9th', '10th', '11th', '12th', 'HS-grad', 'Some-college', 'Bachelors', 'Masters', 'Doctorate']
df['education_o'] = df.education.astype("category", ordered=True, categories=oed).cat.codes

ocl = ['<=50K', '>50K']
df['classification_o'] = df.classification.astype("category", ordered=True, categories=ocl).cat.codes

#osex = ['Male', 'Female']
#df['sex_o'] = df.sex.astype("category", ordered=False, categories=osex).cat.codes

df = pd.get_dummies(df, columns=['race', 'sex'])

Lastly, print out your dataframe!

In [14]:
print(df.head())

   education  age  capital-gain  capital-loss  hours-per-week classification  \
0  Bachelors   39        2174.0             0              40          <=50K
1  Bachelors   50           NaN             0              13          <=50K
2    HS-grad   38           NaN             0              40          <=50K
3       11th   53           NaN             0              40          <=50K
4  Bachelors   28           0.0             0              40          <=50K

   education_o  classification_o  sex_o  race_Amer-Indian-Eskimo  \
0           10                 0      0                        0
1           10                 0      0                        0
2            8                 0      0                        0
3            6                 0      0                        0
4           10                 0      1                        0

   race_Asian-Pac-Islander  race_Black  race_Other  race_White  sex_Female  \
0                        0           0           0           1           0
1                        0           0           0           1           0
2                        0           0           0           1           0
3                        0           1           0           0           0
4                        0           1           0           0           1

   sex_Male
0         1
1         1
2         1
3         1
4         0